body{
    margin: 0;
    font-size: 18px;
}

.cells {
    border:1px solid;
    width: 80%;
    margin: auto;
}

.logo{
    text-align: center;
}

img{
    max-width: 100%;
}

.banner > img{
    width: 100%;
}

.cells  img{
    width: 50%;
}

a:link, a:visited{
    color: green;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: green;
    
}

a:active{

}